{% extends base_layout %}

{% block header_title_lead %}{% endblock %}

{% block content %}

    {% if user_id %}
	<div class="alert alert-success" ng-show="showSuccessAlert">
		<button type="button" class="close" data-ng-click="switchBool('showSuccessAlert')" >×</button>
		<strong>Done!</strong> {[{successTextAlert}]}
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-2 sidebar">	
			<h2>My Orders {[{ testdata.test }]}</h2> 
			          <ul class="nav nav-pills nav-stacked">
						<li ng-repeat="ordertag in orders" ng-class="{ active:isOrder(ordertag.ordercounter) }"><a href="#" ng-click="selectOrder(ordertag.ordercounter)">{[{ ordertag.comments }]}</a></li>
					  </ul>		
			</div>
			<div class="col-md-5">
				<div class="alert alert-success">
				<button type="button" class="close" data-ng-click="switchBool('showSuccessAlert')" >×</button>
				<strong>Order Status</strong> {[{successTextAlert}]}
				</div>
			<h2>{[{ orders[orderid].date }]} </h2> 
				 
				 <div class="table-responsive">          
					  <table class="table item-table">
						<tbody>
						  <tr ng-repeat="item in orders[orderid].items">
							<td>{[{ item.name }]}</td>
							<td>~ {[{ item.weight }]} lbs</td>
							<td>{[{ item.number }]}</td>							
							<td width="56"><button ng-hide="orders[orderid].status === 'placed'" class="btn btn-default btn-block" type="button" ng-click="remove(item)"><span class="glyphicon glyphicon-remove"></span></button></td>
						  </tr>
						</tbody>
					  </table>
					  </div>

			<form ng-show="addform" ng-submit="neworderItem()">
			<div class="row">
				<div class="col-md-6">
					<label>Item Type</label>
					<select class="form-control" ng-model="name" ng-options="laundryweight.name for laundryweight in laundryweights">
						<option value="">--- Select an Item ---</option>				
					</select>
				</div>
				<div class="col-md-6">
					<label>Quantity</label>
					<input type="number" class="form-control" min="1" max="99" ng-model="number" placeholder="Quantity" ng-required />
				</div>			
			</div>
			<div class="row">
				<div class="col-md-12">
					<br/>
					<button class="btn btn-danger btn-block" type="submit"  ng-disabled="orders[orderid].status === 'placed'"><span class="glyphicon glyphicon-plus"></span> Add to list</button>	
				</div>
			</div>		
			</form>
			
			<button ng-hide="addform" class="btn btn-success btn-block" ng-click="addform = true"  ng-disabled="orders[orderid].status === 'placed'"><span class="glyphicon glyphicon-plus"></span> Add New Item</button>
	
			</div>
			<div class="col-md-5">
				
				<div class="row">
					<div class="col-md-7">
						<h2 class="text-left">Estimated Weight</h2>
						<blockquote style="padding-top:0px; padding-bottom:0px; color: grey">[Minimum Weight of 15 lbs]</blockquote>
					</div>
					<div class="col-md-5"><h2 class="text-right" ng-class="{ 'text-danger' : orders[orderid].totalweight < 15, 'text-success' : orders[orderid].totalweight >= 15 }">~ {[{ orders[orderid].totalweight | number:2 }]} lbs</h2></div>
				</div>			
				
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
						  <label for="usr">Pick Up Date</label>
						  <input type="date" class="form-control" id="usr"  ng-disabled="orders[orderid].status === 'placed'">
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
						  <label for="usr">Pick Up Time</label>
						  <input type="time" class="form-control" placeholder="HH:mm:ss" required  ng-disabled="orders[orderid].status === 'placed'" />
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
						  <label for="usr">Drop Off Date</label>
						  <input type="date" class="form-control" id="usr"  ng-disabled="orders[orderid].status === 'placed'">
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
						  <label for="usr">Drop Off Time</label>
						  <input type="time" class="form-control" placeholder="HH:mm:ss" required  ng-disabled="orders[orderid].status === 'placed'"/>
						</div>
					</div>
				</div>
				
						<div class="form-group">
							  <label for="comment">Special Instructions:</label>
							  <textarea class="form-control" rows="5" id="comment" ng-model="orders[orderid].comments" ng-disabled="orders[orderid].status === 'placed'"></textarea>
						</div>
						
				<div class="row">
					<div class="col-md-8">
						<h2 class="text-left">Total Price</h2>
						<blockquote style="padding-top:0px; padding-bottom:0px; color: grey">[Price is Estimated]</blockquote>
					</div>
					<div class="col-md-4"><h2 class="text-right">{[{ orders[orderid].totalweight * 10 | currency }]}</h2></div>
				</div>			

				 <button class="btn btn-lg btn-block btn-success" ng-click="placeorder()" ng-disabled="orders[orderid].status === 'placed'"><span class="glyphicon glyphicon-shopping-cart"></span> Place Order</button>		
				
			</div>
		  </div>
	</div>
    {% else %}
    <div class="row">
        <div class="col-md-9">
            <div class="home_bp">
                <h1>
                    Google App Engine Boilerplate
                </h1>
                <p>
                    {% trans %}Congratulations on your Google App Engine Boilerplate powered page.{% endtrans %}
                    <br><a href="http://github.com/coto/gae-boilerplate/blob/master/README.md" target="_blank">
                    {% trans %}Learn why this Boilerplate Rocks{% endtrans %}</a> {% trans %}or just{% endtrans %} 
                    <a href="http://github.com/coto/gae-boilerplate/" target="_blank">{% trans %}download the Source Code{% endtrans %}</a> 
                    {% trans %}to help you to create your application.{% endtrans %}
                </p>
            </div>
        </div>
        <div class="col-md-3 auth-at-home">
            <form id="form_login_user" action="{{ uri_for("login") }}" method="post">
                <fieldset class="well">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
                    <div class="form-group">
                        <label class="controls">
                            <input class="focused required form-control" name="username" id="l_username" type="text" placeholder="{% trans %}Username or Email{% endtrans %}">
                        </label>
                    </div>
                    <div class="form-group">
                        <div class="controls row">
                            <label class="col-md-8">
                                <input class="focused required form-control" name="password" id="l_password" type="password" placeholder="{% trans %}Password{% endtrans %}">
                            </label>
                            <label class="col-md-4">
                                <button type="submit" class="btn btn-primary btn-login">{% trans %}Login{% endtrans %}</button>
                            </label>
                        </div>
                    </div>
                    <div>
                        <label class="checkbox">
                            <input type="checkbox" name="remember_me" id="remember_me" value="on">
                            {% trans %}Remember me?{% endtrans %} <span class="separator"></span>
                            <a href="{{ uri_for("password-reset") }}">{% trans %}Forgot your password?{% endtrans %}</a>
                        </label>
                    </div>
                    {{ macros.federated_login(provider_info, provider_uris, enable_federated_login) }}
                </fieldset>
            </form>

            <h3>{% trans %}Sign Up{% endtrans %}</h3>
            <form id="form_register" action="{{ uri_for("register") }}" method="post">
                <fieldset class="well">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
                    <div class="form-group">
                        <label class="controls">
                            <input class="focused required form-control" name="username" id="username" type="text" placeholder="{% trans %}Username{% endtrans %}">
                        </label>
                    </div>
                    <div class="form-group">
                        <label class="controls">
                            <input class="focused required email form-control" name="email" id="email" type="email" placeholder="{% trans %}Email{% endtrans %}">
                            <input type="hidden" name="country" value="">
                        </label>
                    </div>
                    <div class="form-group">
                        <label class="controls">
                            <input class="focused required form-control" name="password" id="password" type="password" placeholder="{% trans %}Password{% endtrans %}">
                        </label>
                    </div>
                    <div class="form-group">
                        <label class="controls">
                            <input class="focused required form-control" name="c_password" id="c_password" type="password" placeholder="{% trans %}Confirm Password{% endtrans %}">
                        </label>
                    </div>
                    <div class="form-group">
                        <input type="hidden" name="country">
                        <input type="hidden" name="tz">
                        <button type="submit" class="btn btn-primary">{% trans %}Sign Up{% endtrans %}</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div><!-- /row -->
    {% endif %}

{% endblock %}

{% block mediaJS %}
    <script>
        $().ready(function() {
            $("#form_login_user").validate({
                submitHandler: function(form) {
                    form.submit();
                },
                errorPlacement: function(error, element) {
                    element.parent().parent().addClass("error");
                    error.addClass("help-inline").appendTo( element.parent() );
                }
            });

            $("#form_register").validate({
                submitHandler: function(form) {
                    form.submit();
                },
                rules: {
                    password: 'required',
                    c_password: {
                        required: true,
                        equalTo: '#password'
                    }
                },
                errorPlacement: function(error, element) {
                    element.parent().parent().addClass("error");
                    error.addClass("help-inline").appendTo( element.parent() );
                }
            });
            
            $("#password").passStrength({
                shortPassText: '{% trans %}Short Password{% endtrans %}',
                badPassText: '{% trans %}Insecure Password{% endtrans %}',
                goodPassText: '{% trans %}Good Password{% endtrans %}',
                strongPassText: '{% trans %}Secure Password{% endtrans %}'
            });
        });
    </script>
{% endblock %}

